@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
h2 {
  color: var(--figma-color-text);
  font-family: "Inter";
  font-weight: 400;
  font-size: 120%;
  margin-top: 0;
}
label {
  color: var(--figma-color-text-tertiary);
  font-family: "Inter";
  font-weight: 500;
  text-transform: capitalize;
  font-size: 60%;
}
select {
  cursor: pointer;
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  appearance: none;
  margin-top: 4px;
  padding: 16px 12px;
  width: 100%;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--figma-color-bg-tertiary);
  border: 0;
  stroke: 0;
  outline: none;
}
select:focus {
  background-color: var(--figma-color-bg-secondary);
  box-shadow: inset 0 0 0 2px #24cc85;
  border: 0;
}
option {
  font-family: "Inter";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 120%;
  border: 0;
  box-shadow: inset 0 0 0 1px #32323220;
}
input {
  cursor: pointer;
  margin-top: 4px;
  padding: 16px 12px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 0;
  color: var(--figma-color-text);
  background-color: var(--figma-color-bg-secondary);
  box-shadow: inset 0 0 0 1px var(--figma-color-bg-tertiary);
}
input[type="range"] {
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--figma-color-bg-secondary);
  border-radius: 100px;
  height: 8px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #24cc85;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  margin-top: -6px;
  box-shadow: 0 0px 0px 0 #32323200, inset 0 0 0 2px #fff;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 4px 4px 0 #32323215, inset 0 0 0 2px #fff;
}

input:focus {
  border: 0;
  box-shadow: inset 0 0 0 2px #24cc85;
}
button {
  cursor: pointer;
  border-width: 0;
  margin-top: 32px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.3;
  box-shadow: 0 4px 4px #30303020;
  outline: none;
}
button.primary {
  background-color: #24cc85;
  border: 2px solid #24cc85;
  color: #fff;
}
button.primary:hover {
  background-color: #23c580;
  border: 2px solid #23c580;
  box-shadow: 0 3px 3px #30303030;
}
button.secondary {
  border: 0;
  background-color: var(--figma-color-bg);
  border: 2px solid #24cc85;
  color: #24cc85;
  box-shadow: 0 4px 4px #30303000;
}
button.secondary:hover {
  background-color: var(--figma-color-bg-selected);
  box-shadow: 0 4px 4px #30303000;
}
button.secondary:disabled {
  border: 0;
  opacity: 0.5;
  background-color: #fff;
  border: 2px solid #24cc85;
  color: #24cc85;
  box-shadow: 0 4px 4px #30303000;
}

.select-wrapper {
  position: relative;
  width: 48%;
}
.select-wrapper::after {
  content: "expand_more";
  top: 26px;
  right: 16px;
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  pointer-events: none;
  color: var(--figma-color-text-secondary);
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form {
  font-family: "Inter";
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.3;
  padding: 0;
}
.range {
  box-shadow: inset 0 0 0 0px #32323200;
  padding: 0;
}
.range:focus {
  padding: 0;
  box-shadow: inset 0 0 0 0px #32323200;
}
